<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsty.icode.dao.CommunicateDao">
    <insert id="add">
        insert into communicate_info(student_id, content, revisit_remind, create_time)
        values (#{studentId}, #{content}, #{revisitRemind}, #{createTime})
    </insert>
</mapper>
