<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsty.icode.dao.GenearchDao">
    <insert id="insert" parameterType="com.bsty.icode.bean.Genearch">
        INSERT INTO genearch(id, name, sex,update_date, profession, phone, wechat, qq, email, mark)
        VALUES (#{id}, #{name}, #{sex},#{updateDate}, #{profession}, #{phone}, #{wechat}, #{qq}, #{email}, #{mark})
    </insert>
    <select id="selectCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM genearch
        WHERE id = #{id}
    </select>
    <select id="selectByParams" resultType="com.bsty.icode.dto.GenearchDTO"
            parameterType="com.bsty.icode.reqparams.GenearchParamDTO">
        SELECT * FROM genearch AS g
        <where>
            1=1
            <if test="id!=null and id!=''">
                AND g.id = #{id}
            </if>
            <if test="name!=null and name!=''">
                AND g.name LIKE concat('%',#{name},'%')
            </if>
            <if test="sex!=null and sex!=''">
                AND g.sex = #{sex}
            </if>
            <if test="profession!=null and profession!=''">
                AND g.profession LIKE concat('%',#{profession},'%')
            </if>
            <if test="phone!=null and phone!=''">
                AND g.phone = #{phone}
            </if>
            <if test="wechat!=null and wechat!=''">
                AND g.wechat = #{wechat}
            </if>
            <if test="qq!=null and qq!=''">
                AND g.qq = #{qq}
            </if>
            <if test="email !=null and email!=''">
                AND g.email LIKE concat('%',#{email},'%')
            </if>
        </where>
        <if test="sortMap!=null">
            ORDER BY
            <foreach collection="sortMap.entrySet()" separator="," index="key" item="value">
                ${key} ${value}
            </foreach>
        </if>
    </select>
</mapper>