<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsty.icode.dao.RouterDao">
    <insert id="addRouters">
        insert into role_router(role_id, router_id) values
        <foreach collection="routeIds" index="index" item="id" separator=",">
            (#{roleId},#{id})
        </foreach>
    </insert>
    <delete id="deleteByRoleId" parameterType="long">
        delete
        from role_router
        where role_id = #{roleId}
    </delete>
    <delete id="deleteRouters">
        delete
        from role_router
        where role_id = #{roleId}
        and router_id in
        <foreach collection="routeIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findByType" resultType="com.bsty.icode.bean.Router">
        select *
        from router r
        where r.type = #{type};
    </select>
    <select id="findAsync" resultType="com.bsty.icode.bean.Router">
        select *
        from router r
        where r.type = 2;
    </select>
    <select id="findByRoleId" resultType="com.bsty.icode.bean.Router" parameterType="java.lang.Long">
        select r.*
        from role_router rr
                 left join router r on rr.router_id = r.id
        where rr.role_id = #{roleId};
    </select>
    <select id="findIdsByRoleId" parameterType="long" resultType="java.lang.Long">
        select router_id
        from role_router
        where role_id = #{roleId};
    </select>
</mapper>
