<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsty.icode.dao.StudentDao">
<!--    <insert id="insert" parameterType="com.bsty.icode.bean.Student">-->
<!--        INSERT INTO student(id, name, sex,update_date, grade, mark, phone, refer_id)-->
<!--        VALUES (#{id}, #{name}, #{sex}, #{updateDate},#{grade}, #{mark}, #{phone}, #{referId})-->
<!--    </insert>-->
<!--    <select id="selectCount" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(1)-->
<!--        FROM student-->
<!--        WHERE id = #{id}-->
<!--    </select>-->
    <select id="selectByParams" resultType="com.bsty.icode.dto.StudentDTO"
            parameterType="com.bsty.icode.reqparams.StudentParamDTO">
        SELECT s.*
        FROM student AS s
        <where>
            1=1
            <if test="id!=null and id!=''">
                AND s.id = #{id}
            </if>
            <if test="phone!=null and phone!=''">
                AND s.phone = #{phone}
            </if>
            <if test="name!=null and name!=''">
                AND s.name LIKE concat('%',#{name},'%')
            </if>
            <if test="sex!=null and sex!=''">
                AND s.sex = #{sex}
            </if>
            <if test="grade!=null and grade!=''">
                AND s.grade = #{grade}
            </if>
            <if test="enable!=null and enable!=''">
                AND s.enable = #{enable}
            </if>
            <if test="referPhone!=null and referPhone!=''">
                AND s.refer_phone= #{referPhone}
            </if>
        </where>
        <if test="sortMap!=null">
            ORDER BY
            <foreach collection="sortMap.entrySet()" separator="," index="key" item="value">
                ${key} ${value}
            </foreach>
        </if>
    </select>
    <select id="selectAll" resultType="com.bsty.icode.bean.Student">
        select * from student
    </select>
</mapper>