<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsty.icode.dao.StudentDao">
    <insert id="addGenearch">
        insert into genearch(name)
        values (#{name})
    </insert>
    <insert id="addCampus">
        insert into campus(name)
        values (#{name})
    </insert>
    <insert id="addChannel">
        insert into channel(name)
        values (#{name})
    </insert>
    <insert id="addConsultType">
        insert into consult_type(name)
        values (#{name})
    </insert>
    <insert id="addFollowStatus">
        insert into follow_status(name)
        values (#{name})
    </insert>
    <insert id="addGrade">
        insert into grade(name)
            value (#{name})
    </insert>
    <insert id="addIntention">
        insert into intention(name)
        values (#{name})
    </insert>
    <insert id="addkeyword">
        insert into keyword(name)
        values (#{name})
    </insert>
    <insert id="addCourseType">
        insert into course_type(name)
        values (#{name})
    </insert>
    <insert id="add" parameterType="com.bsty.icode.bean.Student" keyProperty="id" useGeneratedKeys="true">
        insert into icode.student(name, phone, genearch, phone_sec, genearch_sec, phone_other, genearch_other, sex,
                                  id_card, wechat, birthday, school, grade, class_name, home_address, refer_phone, mark,
                                  entry_time, create_time, update_time)
        values (#{name}, #{phone}, #{genearch}, #{phoneSec}, #{genearchSec}, #{phoneOther}, #{genearchOther}, #{sex},
                #{idCard}, #{wechat}, #{birthday}, #{school}, #{grade}, #{className}, #{homeAddress}, #{referPhone},
                #{mark}, #{entryTime}, #{createTime}, #{updateTime})
    </insert>
    <select id="selectByParams" resultType="com.bsty.icode.dto.StudentDTO"
            parameterType="com.bsty.icode.reqparams.StudentParamDTO">
        SELECT s.*
        FROM student AS s
        <where>
            1=1
            <if test="id!=null and id!=''">
                AND s.id = #{id}
            </if>
            <if test="phone!=null and phone!=''">
                AND s.phone = #{phone}
            </if>
            <if test="name!=null and name!=''">
                AND s.name LIKE concat('%',#{name},'%')
            </if>
            <if test="sex!=null and sex!=''">
                AND s.sex = #{sex}
            </if>
            <if test="grade!=null and grade!=''">
                AND s.grade = #{grade}
            </if>
            <if test="enable!=null and enable!=''">
                AND s.enable = #{enable}
            </if>
            <if test="referPhone!=null and referPhone!=''">
                AND s.refer_phone= #{referPhone}
            </if>
        </where>
        <if test="sortMap!=null">
            ORDER BY
            <foreach collection="sortMap.entrySet()" separator="," index="key" item="value">
                ${key} ${value}
            </foreach>
        </if>
    </select>
    <select id="selectAll" resultType="com.bsty.icode.bean.Student">
        select *
        from student
    </select>
    <select id="allGenearch" resultType="com.bsty.icode.bean.Genearch">
        select *
        from genearch;
    </select>
    <select id="allCampus" resultType="com.bsty.icode.bean.Campus">
        select *
        from campus;
    </select>
    <select id="allChannel" resultType="com.bsty.icode.bean.Channel">
        select *
        from channel;
    </select>
    <select id="allConsultType" resultType="com.bsty.icode.bean.ConsultType">
        select *
        from consult_type;
    </select>
    <select id="allFollowStatus" resultType="com.bsty.icode.bean.FollowStatus">
        select *
        from follow_status;
    </select>
    <select id="allGrade" resultType="com.bsty.icode.bean.Grade">
        select *
        from grade;
    </select>
    <select id="allIntention" resultType="com.bsty.icode.bean.Intention">
        select *
        from intention;
    </select>
    <select id="allKeyword" resultType="com.bsty.icode.bean.Keyword">
        select *
        from keyword;
    </select>
    <select id="allCourseType" resultType="com.bsty.icode.bean.CourseType">
        select *
        from course_type;
    </select>
    <select id="countGenearch" resultType="java.lang.Integer">
        select count(1)
        from genearch g
        where g.name = #{name}
    </select>
    <select id="countCampus" resultType="java.lang.Integer">
        select count(1)
        from genearch g
        where g.name = #{name}
    </select>
    <select id="countChannel" resultType="java.lang.Integer">
        select count(1)
        from channel c
        where c.name = #{name}
    </select>
    <select id="countConsultType" resultType="java.lang.Integer">
        select count(1)
        from consult_type ct
        where ct.name = #{name}
    </select>
    <select id="countFollowStatus" resultType="java.lang.Integer">
        select count(1)
        from follow_status fs
        where fs.name = #{name}
    </select>
    <select id="countGrade" resultType="java.lang.Integer">
        select count(1)
        from grade g
        where g.name = #{name}
    </select>
    <select id="countIntention" resultType="java.lang.Integer">
        select count(1)
        from intention i
        where i.name = #{name}
    </select>
    <select id="countKeyword" resultType="java.lang.Integer">
        select count(1)
        from keyword k
        where k.name = #{name}
    </select>
    <select id="countCourseType" resultType="java.lang.Integer">
        select count(1)
        from course_type ct
        where ct.name = #{name}
    </select>
</mapper>